.new-btn{
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin-left: 0.25rem;
}

.send-btn{
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
    margin-left: 0.25rem;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.input-wrapper{
    width: 0%;
    overflow: hidden;
    transition: width 0.5s;
}

.input-wrapper.open{
    width: 90%;
}

.c-input{
    width: 90%;
    border: 1px solid lightgrey;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.c-input:focus{
    border: 0.5px solid var(--dark-blue);
    box-shadow: 0 0 2px var(--dark-blue);
}


@media screen and (max-width: 480px){
    .new-btn{
        height: 1.4rem;
        width: 1.4rem;
    }

    .send-btn{
        height: 1.6rem;
        width: 1.6rem;
    }
    .c-input{
        font-size: 1.2rem;
    }

}