.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5rem 1rem ;
    overflow: hidden;
    height: calc(50% - 1rem);
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.col .title{
    font-family: Roboto-Regular;
    color: var(--dark-blue);
    font-size: 0.9rem
}

.col .icon{
    height: 1rem;
    width: 1rem;
    margin-right: 0.2rem;
}

.body {
    position: relative;
    height: 100%;
    overflow: auto;
}
/* width */
.body::-webkit-scrollbar {
    width: 5px;
}
  

.body::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
.body::-webkit-scrollbar-thumb {
    background: var(--dark-purple); 
}
  
/* Handle on hover */
.body::-webkit-scrollbar-thumb:hover {
    /* background: #555;  */
    background: var(--dark-purple); 
}


@media screen and (max-width: 480px) {
    .col .title{
        font-size: 1.2rem
    }

    .col .icon{
        height: 1.2rem;
        width: 1.2rem;
        margin-right: 0.2rem;
    }
    .col{
        height: unset;
    }   
}