.container{
    background-image: linear-gradient(150deg, #BCA0DC 0%, #804FB3 100%);
    height: 100vh;
}

.container .card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    min-width: 20rem;
    padding: 0.8rem
}

.container h3{
    margin: auto;
    color: var(--dark-purple);
    font-family: Roboto-Bold;
    font-size: 1.8rem;
}
.container p{
    font-family: Roboto-Light;
    padding: 0px 0.5rem;
}

.container p b{
    color: var(--dark-purple); 
}
.card__footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    font-family: Roboto-Bold;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    display: inline-block;

}
.btn.start{
    background-color: var(--dark-purple);
    color: #fff;
}


.btn.join{
    background-color: var(--dark-blue);
    color: #fff;
}

.btn.join:hover{
    background-color: #000658;
}

.btn.start:hover{
    background-color: #3c0044f5;
}

.btn.join{
    background-color: var(--dark-blue);
    color: #fff;
    cursor: pointer;
}

.btn.join:disabled{
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
}

.or-dlimeter{
    font-family: Roboto-Bold;
    color: var(--dark-purple);
    margin: 1rem 0px;
}

.join-input{
    border: 1px solid lightgrey;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    min-width: 5rem;
    flex: 1;
}

.join-input:focus{
    border: 0.5px solid var(--dark-blue);
    box-shadow: 0 0 2px var(--dark-blue);
}


.join-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px){
    .container .card{
        min-width: unset;
        width: 85%;
    }
    
}


@media screen and (max-width: 250px){
    .btn.join{
        width:100%;
        margin-top: 0.5rem;
    }

    .join-input{
        margin-right: 0px;
    }
    
}